.man{
    
    border: 5px solid blue;
    display: inline-block;
    color: blue;
    padding: 10px;
    margin-left: 41%;
    border-radius: 60px;
    background-image: url("../img/1.jpg");
    background-position: center;
}
.mlln{
    border-color:red blue yellow green;
    border-style: solid;
    border-width: 10px;
    margin-bottom: 20px;
    width:10%;
    height:50px;
    color: red;
    padding-bottom: 20px;
    margin-top: 40px;
    background-image: url("../img/21.jpg");
    margin: auto;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}
.ser{
    width: 2%;
     margin-left: 1000%;
    height: 400px;
    margin-left:-10px;
}
.kj{ 
   
    width: 50%;
    margin-left: 419px;
    height: 400px;
    margin-top: -415px; 
}

.first{
    margin-left:-1%;
    font-family: 'Playfair Display', serif;
}
.nnn{
    color: rgb(240, 11, 125);
    
}

.kkk{
    color: blueviolet;
}


/* 4 +1 =5

1% * 5=5%

        95 /4

*/