/* div{

    background-color: red;
    background-color: rgb(0 0 0 / 50%);
    background-color: #ff0000;
    background-image: url("../img/112.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: 100px 100px;

} */
/* 
div{
    background-color: aqua;
    padding-left: 10px 20px;

}
 */

 /* div{
    background-color: aquamarine;
    padding: 10px;
    width: 75%;
    margin: auto;
    border-width: 10px;
    border-color: brown blue yellow green ;
    border-style: solid;
    background-image: url("../img/112.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
     margin-top:-1px;
     outline: 10px red solid;


 } */

